*{
    box-sizing: border-box;
}

html {
    color: var(--color2);
    line-height: 1.71;
    font-family: monsterrat-regular, serif;
}

body {
    margin: 0;
    font-size: 0.875rem;
    
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}