.main-header{
    background-color: var(--color1);
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    height: 60px;
    align-items: center;
}

.main-header .tools{
    height: 100%;
    align-items: stretch;
}


.main-header .tools>*.active{
    color: var(--color2);
    box-shadow: inset 0px -6px 0 var(--color2);
}


.main-header .logo{
    font-size: 1.5em;
    color: white;
    font-family:monsterrat-alter-thin ;
}


.main-header .tools .btn:hover{
    color: var(--color2);
}

.main-header .btn-menu{
    font-size: large;
    width: 20px;
}

